@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    font-family: 'Abel', sans-serif;
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 0 !important;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: aliceblue;
}

.menu-principal {
    width: 100%;
    background-color: #001f74;
    height: 55px;
}

main {
    /*delineamento do corpo [ENCONTRA-SE NO CABEÇALHO]*/
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    /*lôgo MTH (precisa de retoque transparente)*/
    float: left;
    width: 65%;
	padding: 0px;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
}

.redes-sociais {
    width: 30%;
    float: right;
}

.login-area {
	/*AREA DO LOGIN*/
    height: 100%;
	width: 450px;
    margin: 204px auto;
}

.login-area table {
    padding: 20px 40px 20px 40px;
    width: 100%;
	margin: auto;
    border-radius: 4px;
	border: 5px solid #ff6b2185;
	background-color: #ffffff;
}

.login-area table tr {
	font-size: 15pt;
}

.login-area tr td input {
    border-radius: 8px;
    padding: 3px 3px 3px 5px;
    background-color: #fff;
    box-shadow: -1px 1px 2px #aaaaaa;
    outline: none;
    border: 1px dotted #c7c7c7;
}

.login-area .botao {
    float: right;
    margin-top: 15px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    padding: 4px 18px 4px 18px;
    background-color: transparent;
    background-size: 0%;
    color: #8b8b8b;
    transition: 500ms ease-in-out 0s;
}

.login-area .botao:hover {
    border: 1px solid #020024;
    color: #000000;
    background: -webkit-linear-gradient(45deg, #020024 0%, #093079 14%, #00d4ff 45%, #78c6c4 69%, #99ebff 82%, #a4ffff 100%) no-repeat;
    box-shadow: 0px 2px 11px #003750;
    background-size: 200%;
}

.login-area .links td li a {
	font-size: 13pt;
    color: #aaaaaa;
    transition: all 0s;
}

.login-area .links td li a:hover {
    color: #00d4ff;
    text-shadow: 0px 4px 5px #a4ffff;
}

.rodape {
    display: inline-block;
	width: 100%;
    background-color: #001f74;
    height: 100%;
    margin: auto;
    margin-bottom: -10px;
}

.fill-area {
	width: 980px;
	margin: auto;
    height: 100%;
    position: relative;
}

.logo-rodape {
    margin-top: 0;
	float: left;
    width: 32%;
}

.text-footer {
    width: 30%;
    margin-left: 20px;
    float: left;
}

.text-footer p {
    color: #ffffff;
    font-size: 13px;
    line-height: 19pt;
    text-align: center;
}

.redes-sociaisFo {
    width: 30%;
    float: right;
}

.redes-sociaisFo li {
    margin-left: 15px;
    display: inline-block;
}
