@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    font-family: 'Abel', sans-serif;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: aliceblue;
}

.menu-principal {
    width: 100%;
    background-color: #001f74;
    height: 55px;
}

main {
    /*delineamento do corpo [ENCONTRA-SE NO CABEÇALHO]*/
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    /*lôgo MTH (precisa de retoque transparente)*/
    float: left;
    width: 65%;
	padding: 0px;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
}

.redes-sociais {
    width: 30%;
    float: right;
}

.login-area {
	/*AREA DO LOGIN*/
	width: 450px;
    margin: 8% auto;
    margin-bottom: 8%;
}

.login-area table {
    padding: 12%;
    width: 100%;
	margin: auto;
	border: 5px solid #ff6b2185;
	background-color: #ffffff;
}

.login-area .botao {
    float: right;
    margin-top: 15px;
    border-radius: 4px;
    padding: 4px 18px 4px 18px;
    background: -webkit-linear-gradient(45deg, #020024 0%, #093079 14%, #00d4ff 45%, #78c6c4 69%, #fb9700 82%, #f0b807 100%) no-repeat;
    background-size: 200%;
    color: #d3d3d3;
    transition: 500ms ease-in-out 0s;
}

.login-area .botao:hover {
    border: 1px solid #020024;
    color: #000000;
    background-color:#ffffff57;
    background-size: 10%;
}

.rodape {
    display: inline-block;
	width: 100%;
    background-color: #001f74;
    height: 200px;
    margin: auto;
    margin-bottom: -10px;
}

.fill-area {
	width: 980px;
	margin: auto;
    height: 100%;
    position: relative;
}

.logo-rodape {
    margin-top: 2%;
	float: left;
    width: 32%;
}

.text-footer {
    width: 30%;
    margin-left: 20px;
    float: left;
}

.text-footer p {
    color: #ff6b21;
    font-size: 13px;
    line-height: 19pt;
    text-align: center;
}

.redes-sociaisFo {
    width: 30%;
    float: right;
}

.redes-sociaisFo li {
    margin-left: 15px;
    display: inline-block;
}
