@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: aliceblue;
}

ul {
    padding: 0 !important;
}
/*Cabeçalho [] start*/
.menu-principal {
    width: 100%;
    background-color: #001f74;
    height: 55px;
}

main {
    /*delineamento do corpo [ENCONTRA-SE NO CABEÇALHO]*/
    margin: 0 auto;
    position: relative;
    width: 980px;
}

.logo {
    /*lôgo MTH (precisa de retoque transparente)*/
    float: left;
    width: 50%;
}

.redes-sociais ul li {
    margin-left: 15px;
    display: inline-block;
}

.redes-sociais {
    width: 30%;
    float: right;
}

.busca {
    position: absolute;
    top: 15px;
    left: 95%;
}

.busca input {
    border-radius: 2px;
    border: transparent;
    outline: none;
    padding: 5px;
    color: rgb(126, 126, 126);
    background-image: url('../_media/_img/search.png');
    background-position: 95%;
    background-repeat: no-repeat;
}
/*Responsividade do cabeçaçlho [] start*/
@media (max-width: 992px) {
    .menu-principal {
        position: relative;
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .logo {
		width: 100%;
        margin-left: 120px;
    }
}

@media (max-width: 980px) {
    .busca {
        width: 20%;
        margin: auto;
        left: 1%;
        top: 60%;
    }
    .busca input {
        background-color: #6bd0ff6b;
        font-size: 0;
        padding: 12px;
        width: 5%;
        border: 1px solid #89c6ff;
        transition: 500ms ease-in-out 0s;
    }
    .busca input:hover {
        background-color: #ffffff;
        background-position: -200%;
        font-size: 14px;
        padding: 3px;
        width: 90px;
        border: 1px solid #f14901;
    }
}

@media screen and (max-width: 870px) {
    .redes-sociais {
        margin: auto;
        width: 85%;
        
    }
    .redes-sociais ul li {
        width: 4%;
        margin-left: 4px;
        display: inline-flex;
    }   
}
/*Responsividade do cabeçaçlho [] end*/
/*Cabeçalho [] end*/
/*Menu interativo [] start*/
.col-100 {
    width: 100%;
    background-color: #89c6ff;
    border-bottom: 2px solid #d6d6d6;
    height: 50px;
}

.header-2 {
    background-color: #89c6ff;
    margin: 0px auto;
    width: 980px;
}

.menu {
	list-style: none;
	float: right;
	margin-top: 5px;
	padding: 5px, 5px;
}

.menu li {
	position: relative;
	float: left;
	margin-right: 20px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	/*padding: 5px 10px;*/
	text-transform: uppercase;
}

.menu li a:hover {
	color: #000;
}

.menu li ul {
	position: absolute;
	top: 20px;
	left: 0;
	display: none;
	margin-top: 4px;
	border-radius: 2px;
	background-color: #fff;
}

.menu li:hover ul, .menu li.over ul {
	display: block;
}

.menu li ul li {
	display: block;
	width: 150px;
	padding: 6px;
	border-radius: 2px;
}

.menu li ul li a {
	text-transform: capitalize;
	color: #f14901;
	font-size: 14pt;
	
}

@media (max-width: 830px) {
    .col-100 {
        width: 100%;
    }
    .header-2 {
        width: 100%;
        height: 100%;
    }
}


/*menu-interativo e sub-menu []end*/
/*Campo de formulario - cadastros [] start*/
form {
    width: 980px;
    border: 5px solid #fb79006b;
    border-radius: 5px;
    margin: 5px auto;
    background-color: #ffffff;
}

fieldset {
    margin-top: 8px;
    border: none;
    background-color: #f3f3f3;
}

fieldset legend {
    color: rgb(126, 126, 126);
    text-align: center;
    text-transform: uppercase;
    font-size: 14pt;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px #cacaca;
    width: 50%;
    margin-bottom: 18px;
    border-radius: 2px;
}

fieldset table {
    margin: 0 auto;
    width: 80%;
}

table tr td {
    font-size: 13pt;
}

table tr td input{
    border: none;
    border-radius: 4px;
    padding: 3px 3px 3px 5px;
    background-color: #fff;
    box-shadow: -1px 1px 2px #aaaaaa;
    outline: none;
    border: 1px dotted #c7c7c7;
    
}

.botao {
    float: right;
    margin: 12px 10px 20px 5px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    padding: 4px 18px 4px 18px;
    background-color: transparent;
    background-size: 0%;
    color: #8b8b8b;
    transition: 500ms ease-in-out 0s;
}

.botao:hover {
    border: 1px solid #020024;
    color: #000000;
    background: -webkit-linear-gradient(45deg, #020024 0%, #093079 14%, #00d4ff 45%, #78c6c4 69%, #99ebff 82%, #a4ffff 100%) no-repeat;
    box-shadow: 0px 2px 11px #003750;
    background-size: 200%;
}
/*Campo de formulario - cadastros [] end*/
/*Responsividade do campo de formulario [] start*/
@media screen and (max-width: 992px) {
    form {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    tr td {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input#select-file {
        width: 48%;
    }
    .botao {
        width: 20%;
        margin: 2px auto;
    }
}
/*Responsividade do campo de formulario [] end*/

.rodape {
    display: inline-block;
	width: 100%;
    background-color: #001f74;
    height: 100%;
    margin: auto;
    margin-bottom: -10px;
}

.fill-area {
	width: 980px;
	margin: auto;
    height: 100%;
    position: relative;
}

.logo-rodape {
    margin-top: 0;
	float: left;
    width: 32%;
}

.text-footer {
    width: 30%;
    margin-left: 20px;
    float: left;
}

.text-footer p {
    color: #ffffff;
    font-size: 13px;
    line-height: 19pt;
    text-align: center;
}

.redes-sociaisFo {
    width: 30%;
    float: right;
}

.redes-sociaisFo li {
    margin-left: 15px;
    display: inline-block;
}
/*footer responsivo [] start*/
@media (max-width: 500px) {
    .rodape {
        display: flex;
    }
    .fill-area {
        width: 60%;
        margin: auto;
        height: 20%;
    } 
    .logo-rodape {
        width: 100%;
        margin-left: 20px;
    }
    .text-footer {
        width: 100%;
        margin: auto;
    }
    .text-footer p {
        text-align: justify;
    }
    .redes-sociaisFo {
        width: 100%;
    }
    .redes-sociaisFo li {
        margin: auto;
    }
}
/*footer responsivo [] end*/
